.logo-inicio{
    width: 25%;
    position: absolute;
    bottom: 50%;
    left: 6%;
    transform: translate(0%, 150%);
}
.logo-inicio-translacao{
    transform: translate(0%, 0%);
    transition-duration: 1000ms;  
}
.form-signin {
    position: absolute;
    width: 30%;
    bottom: 10%;
    left: 6%;
    transform: translate(0%, -50%);
    opacity: 0;
}
.form-signin-translacao{
    opacity: 1;
    transform: translate(0%, 0%);
    transition-duration: 1000ms;  
}
.fundo-main{
    background-image: url('../images/musitray_main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.fundo-home{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/musitray_main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.texto-home{
    text-align: justify;
    width: 100%;
    color:white;
}
.logo-home{
    width: 70%;
    margin-bottom: 5%;
}

body{
    overflow-x: hidden;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #18adbe;
}

.upload-box {
    cursor: pointer;
    color: #969696;
    border-color: #bdc3c7;
    width: 50%;
    height: 140px;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 1rem;
    border-style: dashed;
    min-width: 50px;
    margin-top: 7px;
    min-height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 140px;    
}

.invisivel{
    display: none;
}

.instrumento{
    background-color: #969696;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
}

.btn-profissionais{
    font-weight: bold;
    border: 2px solid #55595c;
    border-radius: 5px;
    height: 125px;
    text-align: center;
    line-height: 125px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.card-profissional {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-style: solid;
    border-color: #dfe0e1;
    border-width: 2px;
}

.card-profissional:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    border-color: #549ae1;
    background-color: #dfebf8;
}

.card-profissional.card-ativo {
    filter: none;
    -webkit-filter: grayscale(0%);
    border-color: #549ae1;
    background-color: #dfebf8;
}

.star-ratings-sprite {
    background: url("../images/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}
    
.star-ratings-sprite-rating {
    background: url("../images/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}

.img_card_profissional {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    max-width:100%;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.card-profissional-sem-selecao {
    
}

.foto-input{
    background-color: #18adbe;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translate(-100%, -100%);
    z-index: -1
}

.icone-edita-foto{
    background-color: #18adbe;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 100%;
    transform: translate(-100%, -100%);
    box-shadow: 0px 3.78261px 3.78261px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icone-edita-foto:hover{
    background-color: #1fcfe2;
}
.icone-edita-foto svg{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}

.foto-perfil{
    display: inline-block;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    box-shadow: 0px 3.78261px 3.78261px rgba(0, 0, 0, 0.25);
}
.foto-perfil img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.foto-profissional{
    display: inline-block;
    width: 10vw;
    height: 10vw;
    min-width: 20vh;
    min-height: 20vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    box-shadow: 0px 3.78261px 3.78261px rgba(0, 0, 0, 0.25);
}
.foto-profissional img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 10vw;
    min-height: 20vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profissional-chat:hover {
    background-color: #b7dce0;
    border-color: black;
    border-width: 100px;
    -webkit-filter: grayscale(0%);
    cursor: pointer;
}

.profissional-chat.ativo {
    background-color: #b7dce0;
    border-color: black;
    border-width: 100px;
    -webkit-filter: grayscale(0%);
}

.profissional-chat{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nome-profissional-chat{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}

.busca-profissional{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.ui-autocomplete {
    max-height: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
} 

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 60%;
    word-break:break-all;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.small_chat {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing_msg{
    overflow:hidden; margin:26px 0 26px;
    word-break:break-all;
}
.sent_msg {
  float: right;
  width: 46%;
}
.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.message_area {
    overflow-y: auto;
    max-height: 300px;
}

.input-busca{
    width: 30vw;
}

.input-quadrado{
    border-radius: 0px;
}

.btn-busca{
    width: 7.5vw;
}

.btn-quadrado{
    border-radius: 0px;
    background-color: #18adbe;
    color: white;
}
.btn-quadrado:hover{
    background-color: #12828f;
}
.btn-quadrado.cancelar{
    background-color: #be1818;
}
.btn-quadrado.cancelar:hover{
    background-color: #8f1212;
}
.btn-quadrado.cinza{
    background-color: rgb(108, 117, 125);
}
.btn-quadrado.cinza:hover{
    background-color: rgb(85, 90, 95);
}

.link-cabecalho{
    font-size: 14px;
    color: black !important;
}

.nav-item.ativo .link-cabecalho{
    color: #18adbe !important;
}

.icone-cabecalho{
    fill: #18adbe;
}

.menu-lateral-cabecalho{
    right: 0;
    left: unset;
}

.logo-cabecalho{
    margin-left: 3vw;
}

.cabecalho{
    border-bottom-style: inset;
    border-width: 0.1px;
    height: 6rem;
    padding: 30px;
    line-height: 10px;
    background-color: #FFFFFF;
}

.menu-lateral-perfil{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 27vw;
    top: 13vh;
    text-align:center;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-lateral-perfil::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.menu-lateral-perfil::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.menu-lateral-perfil::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #18adbe;
}

.bg-light{
    background-color: #f9f9f9 !important;
}

.texto-principal{
    color: #18adbe !important;
    font-weight: bold;
}

.texto-principal.grande{
    font-size: 30px;
}

.texto-principal.medio{
    font-size: 24px;
}

.texto-principal.small{
    margin-bottom: 0px !important;
}

.texto-principal.inativo{
    color: gray !important; 
}

.texto-preto{
    color: black !important;
}

.texto-preto.grande{
    font-size: 30px;
}

.texto-preto.medio{
    font-size: 22px;
}

.texto-preto.small{
    margin-bottom: 0px !important;
}

.div-lista{
    border-bottom-style: inset;
    border-width: 1px;
    height: 8vh;
    min-height: 50px;
    line-height: 8vh;
}

.separador{
    min-height: 25px;
    height: 5vh;
}

.icone-portifolio{
    fill: #bababa;
}

.portfolio-wrapper{
    text-align: center;
}
.nome-portifolio{
    font-style: normal;
	font-weight: bold;
    font-size: 16px;
}
.decricao-campo{
    font-size: 16px; 
    color: #474747;   
}

.opcao-menu-lateral{
    color: black;
    cursor: pointer;
    text-align: left;
    padding-left: 5%;
    font-size: 15px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.opcao-menu-lateral:hover{
    /* color: #18adbe; */
    border-left-width: 5px;
    border-left-style: solid;
    border-image: 
    linear-gradient(
        to bottom, 
        #0f7984, 
        #18adbe
        ) 1 100%;
}

   
.borda-opcao-menu-lateral{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgba(88.6, 88.6, 88.6, 0.1);
    border-width: 1px;
    width: 100%;
    height: 100%;
}

.opcao-menu-lateral.ativo{
    color: #18adbe;
    border-left-width: 5px;
    border-left-style: solid;
    border-image: 
    linear-gradient(
        to bottom, 
        #0f7984, 
        #18adbe
        ) 1 100%;
}
.opcao-menu-lateral.ativo .icone-menu-lateral{
    fill: #18adbe;
}
    
.borda-opcao-menu-lateral{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgba(88.6, 88.6, 88.6, 0.1);
    border-width: 1px;
    width: 100%;
    height: 100%;
}

.icone-menu-lateral{
    fill: black;
    margin-right: 5%;   
}

.opcao-menu-meus-projetos{
    color: black;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.opcao-menu-meus-projetos:hover{
    color: #18adbe;
}

.opcao-menu-meus-projetos.ativo{
    color: #18adbe;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.icone-input-inside{
    position: absolute;
    top: 12px;
    right: 26px;
}

.icone-input{
    display: block;
    margin: auto;
}
.input.adiciona{
    cursor: pointer;
}
.input.adiciona:hover{
    background-color: #c3fffc !important;
    fill: #18adbe;
}
.input.adiciona:hover .label-novo-projeto{
    color: #18adbe;
}

.icone-input-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.input{
    border-radius: 0px;
    color: #363636;
    padding: 12px;
}

.input.disabled{
    background-color: white;
}

.input.apaga:hover{
    background-color: #ffc3c3 !important;
    fill: #da3d3d;
    cursor: pointer;
}


textarea.input{
    font-size: 14px;
    overflow-y: hidden;
}

.textarea-curso{
    padding-right: 65;
}

.popover-content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-20px, 0); 
    background-color: #363636;
    padding: 1rem;
    width: 15vw;
    margin: auto;
    text-align: center;
    color: white;
}
.popover-content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(100% - 30px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #363636 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }

.popover_wrapper:hover .popover-content{
    z-index: 10;
    opacity: 0.98;
    transform: translate(-20px, -40%);
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.quina-viva{
    border-radius: 0px !important;
}

.label-novo-projeto{
    position: absolute;
    top: calc(50% + 30px);
    right: 50%;
    transform: translateX(50%);
    color: #686868;
}

.ui-autocomplete{
    z-index: 2147483647;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                50% 50% 
                no-repeat;
}

.loading-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.loading {
    overflow: hidden;   
}

body.loading .loading-modal {
    display: block;
}

.floating-footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 5rem;
    background-color: #F5F5F5;
    padding: 0.8rem;
}

.footer {
    flex-shrink: 0;
    margin-top: auto;
    /* z-index: 999; */
    padding-bottom: 0rem;
}

.footer-content {
    margin-top: 10vh;
    background-color: #f9f9f9;

    border-top-style: inset;
    border-width: 0.05px;
    border-color: rgba(88.6, 88.6, 88.6, 0.1);

    padding: 1.5rem;
}

.footer-content .text{
    padding-top: 1rem;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.blank-content-90{
    min-height: 90%;
}

.div-home{
    width: 40%; 
    top: 35%;
    left: 5%;
    position: absolute;
}
